::ng-deep .custom-category-select .ant-select-selector {
  border: 1px solid #d1d5db;
  transition: border-color 0.3s;
}

::ng-deep .custom-category-select:hover .ant-select-selector {
  border-color: #f97316 !important;
}

::ng-deep .custom-category-select.ant-select-focused .ant-select-selector {
  border-color: #f97316 !important;
  box-shadow: none !important;
  outline: none !important;
}
