<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-6 text-center sm:text-left">
    {{ 'productList.title' | transloco }}</h2>

  <div class="flex flex-col sm:flex-row sm:items-center sm:gap-4 mb-6 w-full">
    <nz-select
    class="custom-category-select w-full sm:w-[160px] md:w-[200px] lg:w-[240px]"
    [(ngModel)]="selectedCategory"
    (ngModelChange)="onCategoryChange($event)"
    nzPlaceHolder="{{ 'productList.selectCategory' | transloco }}"
    [nzLoading]="isLoadingCategories">
    <nz-option nzValue="" nzLabel="{{ 'productList.all' | transloco }}"></nz-option>

    <nz-option *ngFor="let category of categories"
    [nzValue]="category"
    [nzLabel]="category">
    </nz-option>
    </nz-select>
  </div>

  <!--Loading-->
  <div *ngIf="isLoading" class="max-w-sm animate-pulse mt-6 mx-auto">
    <p class="text-center text-gray-500">{{ 'productList.loadingProducts' | transloco }}</p>
    <div class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></div>
    <div class="h-2 bg-gray-200 rounded-full max-w-[360px] mb-2.5"></div>
    <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
    <div class="h-2 bg-gray-200 rounded-full max-w-[330px] mb-2.5"></div>
    <div class="h-2 bg-gray-200 rounded-full max-w-[300px] mb-2.5"></div>
    <div class="h-2 bg-gray-200 rounded-full max-w-[360px]"></div>
  </div>

  <!-- Skeleton khi chọn danh mục -->
  <div *ngIf="!isLoading && isCategoryLoading" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <p class="text-center text-gray-500">{{ 'productList.loading' | transloco }}</p>
    <div class="h-4 bg-gray-200 rounded w-3/4"></div>
    <div class="h-4 bg-gray-200 rounded w-1/2"></div>
  </div>

  <!-- Hiển thị sản phẩm khi đã load xong -->
  <!-- <div *ngIf="!isLoading && !isCategoryLoading" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let product of filteredProducts | search: searchText">
      <app-product-item
        [product]="product"
        (addToCart)="addToCart($event)">
      </app-product-item>
    </div>
  </div> -->

  <div *ngIf="!isLoading && !isCategoryLoading">
    <div *ngIf="total === 0" class="col-span-full text-center text-gray-500 py-8 text-sm">
      {{ 'productList.noProducts' | transloco }}
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4" *ngIf="total > 0">
      <div *ngFor="let product of pagedProducts">
        <app-product-item
        [product]="product"
        (addToCart)="addToCart($event)">
        </app-product-item>
      </div>
    </div>

    <div class="flex justify-center mt-8" *ngIf="total > pageSize">
      <nz-pagination
        [nzPageIndex]="pageIndex"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        (nzPageIndexChange)="onPageChange($event)"
        [nzShowQuickJumper]="true"
        [nzShowSizeChanger]="false">
      </nz-pagination>
    </div>
  </div>
</div>
