/* div {
  text-align: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[disabled] {
  background-color: #c9ced2;
  cursor: not-allowed;
}

form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

form h3 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button[type="submit"] {
  width: 100%;
  background-color: #edf0ee;
  font-weight: bold;
}

form button[type="submit"]:hover {
  background-color: #d6dcd7;
}

div[style*="color:red"] {
  font-size: 14px;
  margin-bottom: 10px;
} */












.form-wrapper {
  max-width: 400px;
  margin: 40px auto;
  padding: 24px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-box {
  display: flex;
  flex-direction: column;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #ee4d2d;
  font-weight: bold;
}

.submit-btn {
  background-color: #ee4d2d !important;
  color: white !important;
  border: none;
  border-radius: 4px;
  margin-top: 12px;
}

.submit-btn:hover {
  background-color: #d7422a !important;
}

.switch-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button[nz-button] {
  border-radius: 4px !important;
  height: 40px;

}
