.cart-item {
  margin-bottom: 20px;
}

.cart-item-content {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
}

.cart-item-details button {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    padding: 4px 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
  ;
}

.quantity-control button {
  padding: 4px 10px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}




