<!-- <nz-card class="max-w-md mx-auto mt-10 shadow-lg rounded-2xl">
  <h2 class="text-2xl font-semibold text-center mb-4">Thông tin tài khoản</h2>
  <nz-descriptions [nzColumn]="1" nzBordered>
    <nz-descriptions-item nzTitle="Tên tài khoản">
      {{ userName }}
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="Email">
      {{ userEmail }}
    </nz-descriptions-item>

  </nz-descriptions>
</nz-card> -->


<nz-card >
  <h2 class="text-2xl font-semibold text-center mb-4">{{ 'profile.title' | transloco }}</h2>
  <div class="text-base px-4">
    <p><strong>{{ 'profile.username' | transloco }}:</strong> {{ userName }}</p>
    <p><strong>{{ 'profile.email' | transloco }}:</strong> {{ userEmail }}</p>
  </div>
</nz-card>
